{% extends "base.html" %}
{% block title %}Login - Farmacorp{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg border-0">
                <div class="card-body p-4">
                    <h3 class="fw-bold text-center text-primary mb-4">Iniciar Sesion</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    </form>
                    <p class="text-center mt-3">
                        No tienes cuenta?
                        <a href="{% url 'usuario:register' %}">Registrate aqui</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
